JWT_SECRET=change_this_to_a_secure_random_base64_secret

# Shared Aiven MySQL
DB_HOST=medoradb-medora-php.i.aivencloud.com
DB_PORT=10144
DB_NAME=medoradb
DB_USER=your_aiven_db_user
DB_PASS=your_aiven_db_password

# TLS
DB_SSL_MODE=required
DB_SSL_CA=C:\xampp\htdocs\Medora\storage\certs\aiven-ca.pem
DB_SSL_CERT=
DB_SSL_KEY=
