-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: medoradb
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `medoradb`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `medoradb` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `medoradb`;

--
-- Table structure for table `admin_activity_log`
--

DROP TABLE IF EXISTS `admin_activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_activity_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `admin_id` int DEFAULT NULL,
  `actor_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_text` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tone` enum('green','blue','red','purple') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'blue',
  `entity_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'system',
  `entity_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_admin_activity_log_admin` (`admin_id`),
  KEY `idx_admin_activity_log_created` (`created_at`),
  CONSTRAINT `fk_admin_activity_log_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_activity_log`
--

LOCK TABLES `admin_activity_log` WRITE;
/*!40000 ALTER TABLE `admin_activity_log` DISABLE KEYS */;
INSERT INTO `admin_activity_log` VALUES (1,1,'Admin','Approved pharmacist request for Pharmacist','green','pharmacist_request',1,'2026-04-17 06:18:18');
/*!40000 ALTER TABLE `admin_activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_admins_nic` (`nic`),
  UNIQUE KEY `uq_admins_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'Admin','ADM20260417','admin@gmail.com',NULL,'$2y$10$Y1GG8KCPC.wmlUMzcK9Pz.z33n.DQj6hzJdZ8S/kGWJShra7c4e9a','2026-04-17 06:17:53');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_categories_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'Pain Relief',1,'2026-04-17 06:07:07'),(2,'Antibiotics',1,'2026-04-17 06:07:07'),(3,'Diabetes Care',1,'2026-04-17 06:07:07'),(4,'Heart Health',1,'2026-04-17 06:07:07'),(5,'Respiratory',1,'2026-04-17 06:07:07'),(6,'Vitamins',1,'2026-04-17 06:07:07'),(7,'Skin Care',1,'2026-04-17 06:07:07'),(8,'Digestive Health',1,'2026-04-17 06:07:07'),(9,'Cardiac Care',1,'2026-04-19 13:50:45'),(10,'Neurology',1,'2026-04-19 13:50:45'),(11,'Eye Care',1,'2026-04-19 13:50:45'),(12,'Lifestyle',1,'2026-04-19 13:50:45'),(13,'General',1,'2026-04-19 13:50:45');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sender_type` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sender_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `receiver_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message_text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `sent_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  `typing` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `pharmacy_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_chat_messages_sender_receiver` (`sender_id`,`receiver_id`),
  KEY `idx_chat_messages_receiver_sent` (`receiver_id`,`sent_at`),
  KEY `idx_chat_messages_is_read` (`is_read`),
  KEY `idx_chat_messages_pharmacy` (`pharmacy_id`),
  CONSTRAINT `fk_chat_messages_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
INSERT INTO `chat_messages` VALUES (1,'patient','200312500353','PHARMACIST','yo','2026-04-17 06:18:36',1,'patient','patient','2026-04-17 06:18:36',1),(2,'pharmacist','1234','200312500353','hello','2026-04-19 15:20:40',1,'pharmacist','pharmacist','2026-04-19 15:20:40',1);
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dosage_categories`
--

DROP TABLE IF EXISTS `dosage_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dosage_categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `label` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_dosage_categories_label` (`label`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dosage_categories`
--

LOCK TABLES `dosage_categories` WRITE;
/*!40000 ALTER TABLE `dosage_categories` DISABLE KEYS */;
INSERT INTO `dosage_categories` VALUES (3,'1 capsule'),(6,'1 puff'),(1,'1 tablet'),(5,'10 ml'),(2,'2 tablets'),(4,'5 ml');
/*!40000 ALTER TABLE `dosage_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dosage_forms`
--

DROP TABLE IF EXISTS `dosage_forms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dosage_forms` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_dosage_forms_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dosage_forms`
--

LOCK TABLES `dosage_forms` WRITE;
/*!40000 ALTER TABLE `dosage_forms` DISABLE KEYS */;
INSERT INTO `dosage_forms` VALUES (1,'Tablet',1,'2026-04-17 06:07:07'),(2,'Capsule',1,'2026-04-17 06:07:07'),(3,'Syrup',1,'2026-04-17 06:07:07'),(4,'Suspension',1,'2026-04-17 06:07:07'),(5,'Injection',1,'2026-04-17 06:07:07'),(6,'Cream',1,'2026-04-17 06:07:07'),(7,'Ointment',1,'2026-04-17 06:07:07'),(8,'Drops',1,'2026-04-17 06:07:07'),(9,'Inhaler',1,'2026-04-17 06:07:07'),(10,'Powder',1,'2026-04-17 06:07:07'),(12,'Gel',1,'2026-04-19 13:50:45'),(14,'rtjh',1,'2026-04-19 15:28:02');
/*!40000 ALTER TABLE `dosage_forms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frequencies`
--

DROP TABLE IF EXISTS `frequencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `frequencies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `label` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `times_of_day` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_frequencies_label` (`label`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frequencies`
--

LOCK TABLES `frequencies` WRITE;
/*!40000 ALTER TABLE `frequencies` DISABLE KEYS */;
INSERT INTO `frequencies` VALUES (1,'Once daily','morning'),(2,'Twice daily','morning,night'),(3,'Three times daily','morning,day,night'),(4,'Every morning','morning'),(5,'Every afternoon','day'),(6,'Every night','night'),(7,'Every 8 hours','morning,day,night'),(8,'Every 12 hours','morning,night'),(9,'Weekly','morning'),(10,'As needed','morning');
/*!40000 ALTER TABLE `frequencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guardian`
--

DROP TABLE IF EXISTS `guardian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guardian` (
  `nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `g_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`nic`),
  UNIQUE KEY `uq_guardian_email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guardian`
--

LOCK TABLES `guardian` WRITE;
/*!40000 ALTER TABLE `guardian` DISABLE KEYS */;
/*!40000 ALTER TABLE `guardian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guardian_link_requests`
--

DROP TABLE IF EXISTS `guardian_link_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guardian_link_requests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `guardian_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `patient_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `guardian_seen` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `responded_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_guardian_link_requests_guardian_status` (`guardian_nic`,`status`,`responded_at`),
  KEY `idx_guardian_link_requests_patient_status` (`patient_nic`,`status`,`created_at`),
  CONSTRAINT `fk_guardian_link_requests_guardian` FOREIGN KEY (`guardian_nic`) REFERENCES `guardian` (`nic`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_guardian_link_requests_patient` FOREIGN KEY (`patient_nic`) REFERENCES `patient` (`nic`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guardian_link_requests`
--

LOCK TABLES `guardian_link_requests` WRITE;
/*!40000 ALTER TABLE `guardian_link_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `guardian_link_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meal_timing`
--

DROP TABLE IF EXISTS `meal_timing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `meal_timing` (
  `id` int NOT NULL AUTO_INCREMENT,
  `label` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_meal_timing_label` (`label`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meal_timing`
--

LOCK TABLES `meal_timing` WRITE;
/*!40000 ALTER TABLE `meal_timing` DISABLE KEYS */;
INSERT INTO `meal_timing` VALUES (2,'After breakfast'),(6,'After dinner'),(12,'After food'),(4,'After lunch'),(9,'Any time'),(1,'Before breakfast'),(5,'Before dinner'),(11,'Before food'),(3,'Before lunch'),(10,'Before sleep'),(7,'With food'),(8,'Without food');
/*!40000 ALTER TABLE `meal_timing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medication_log`
--

DROP TABLE IF EXISTS `medication_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medication_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `medication_schedule_id` int NOT NULL,
  `patient_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dose_date` date NOT NULL,
  `status` enum('TAKEN','MISSED','PENDING') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `time_slot` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pharmacy_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_medication_log_schedule` (`medication_schedule_id`),
  KEY `idx_medication_log_patient_date` (`patient_nic`,`dose_date`),
  KEY `idx_medication_log_pharmacy` (`pharmacy_id`),
  CONSTRAINT `fk_medication_log_patient` FOREIGN KEY (`patient_nic`) REFERENCES `patient` (`nic`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_medication_log_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medication_log_schedule` FOREIGN KEY (`medication_schedule_id`) REFERENCES `medication_schedule` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medication_log`
--

LOCK TABLES `medication_log` WRITE;
/*!40000 ALTER TABLE `medication_log` DISABLE KEYS */;
INSERT INTO `medication_log` VALUES (10,3,'200312500353','2026-04-19','TAKEN','2026-04-19 15:21:17','morning',1),(11,3,'200312500353','2026-04-19','MISSED','2026-04-19 15:21:20','night',1),(12,4,'200312500353','2026-04-19','TAKEN','2026-04-19 15:21:22','morning',1);
/*!40000 ALTER TABLE `medication_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medication_reminder_events`
--

DROP TABLE IF EXISTS `medication_reminder_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medication_reminder_events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `patient_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_schedule_id` int NOT NULL,
  `dose_date` date NOT NULL,
  `time_slot` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `scheduled_at` datetime NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('PENDING','TAKEN','MISSED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `delivered_at` datetime DEFAULT NULL,
  `delivered_notification_id` int DEFAULT NULL,
  `pharmacy_id` int DEFAULT NULL,
  `taken_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_medication_reminder_events_patient_due` (`patient_nic`,`scheduled_at`,`status`),
  KEY `idx_medication_reminder_events_source` (`source_type`,`source_schedule_id`,`dose_date`),
  KEY `idx_medication_reminder_events_notification` (`delivered_notification_id`),
  KEY `idx_medication_reminder_events_pharmacy` (`pharmacy_id`),
  CONSTRAINT `fk_medication_reminder_events_notification` FOREIGN KEY (`delivered_notification_id`) REFERENCES `notifications` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medication_reminder_events_patient` FOREIGN KEY (`patient_nic`) REFERENCES `patient` (`nic`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_medication_reminder_events_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medication_reminder_events`
--

LOCK TABLES `medication_reminder_events` WRITE;
/*!40000 ALTER TABLE `medication_reminder_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `medication_reminder_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medication_schedule`
--

DROP TABLE IF EXISTS `medication_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medication_schedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `duration_days` int DEFAULT NULL,
  `instructions` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `medicine_id` int DEFAULT NULL,
  `dosage_id` int DEFAULT NULL,
  `frequency_id` int DEFAULT NULL,
  `meal_timing_id` int DEFAULT NULL,
  `schedule_master_id` int DEFAULT NULL,
  `pharmacy_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_medication_schedule_start_date` (`start_date`),
  KEY `idx_medication_schedule_medicine` (`medicine_id`),
  KEY `idx_medication_schedule_dosage` (`dosage_id`),
  KEY `idx_medication_schedule_frequency` (`frequency_id`),
  KEY `idx_medication_schedule_meal_timing` (`meal_timing_id`),
  KEY `idx_medication_schedule_master` (`schedule_master_id`),
  KEY `idx_medication_schedule_pharmacy` (`pharmacy_id`),
  CONSTRAINT `fk_medication_schedule_dosage` FOREIGN KEY (`dosage_id`) REFERENCES `dosage_categories` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medication_schedule_frequency` FOREIGN KEY (`frequency_id`) REFERENCES `frequencies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medication_schedule_master` FOREIGN KEY (`schedule_master_id`) REFERENCES `schedule_master` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_medication_schedule_meal_timing` FOREIGN KEY (`meal_timing_id`) REFERENCES `meal_timing` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medication_schedule_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medication_schedule_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medication_schedule`
--

LOCK TABLES `medication_schedule` WRITE;
/*!40000 ALTER TABLE `medication_schedule` DISABLE KEYS */;
INSERT INTO `medication_schedule` VALUES (3,'2026-04-19','2026-04-25',7,NULL,'2026-04-19 12:07:26',NULL,1,2,11,3,1),(4,'2026-04-19','2026-04-25',7,NULL,'2026-04-19 12:15:25',NULL,2,1,10,4,1);
/*!40000 ALTER TABLE `medication_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicine_brands`
--

DROP TABLE IF EXISTS `medicine_brands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicine_brands` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_medicine_brands_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicine_brands`
--

LOCK TABLES `medicine_brands` WRITE;
/*!40000 ALTER TABLE `medicine_brands` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_brands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicine_manufacturers`
--

DROP TABLE IF EXISTS `medicine_manufacturers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicine_manufacturers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_medicine_manufacturers_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicine_manufacturers`
--

LOCK TABLES `medicine_manufacturers` WRITE;
/*!40000 ALTER TABLE `medicine_manufacturers` DISABLE KEYS */;
INSERT INTO `medicine_manufacturers` VALUES (1,'Pfizer',1,'2026-04-17 06:30:00'),(2,'Medora Labs',1,'2026-04-19 13:50:45'),(3,'Cura Pharmaceuticals',1,'2026-04-19 13:50:45'),(4,'Prime Health',1,'2026-04-19 13:50:45'),(5,'BluePeak Pharma',1,'2026-04-19 13:50:45'),(6,'Sunrise Medical',1,'2026-04-19 13:50:45'),(8,'syj',1,'2026-04-19 15:28:02');
/*!40000 ALTER TABLE `medicine_manufacturers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicine_stock_movements`
--

DROP TABLE IF EXISTS `medicine_stock_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicine_stock_movements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `medicine_id` int NOT NULL,
  `supplier_id` int DEFAULT NULL,
  `pharmacy_id` int DEFAULT NULL,
  `movement_type` enum('initial','restock','dispense','adjustment','set') COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity_change` int NOT NULL,
  `quantity_before` int NOT NULL DEFAULT '0',
  `quantity_after` int NOT NULL DEFAULT '0',
  `note` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reference_no` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_medicine_stock_movements_medicine_created` (`medicine_id`,`created_at`),
  KEY `idx_medicine_stock_movements_pharmacy_created` (`pharmacy_id`,`created_at`),
  KEY `fk_stock_movements_supplier` (`supplier_id`),
  CONSTRAINT `fk_stock_movements_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_stock_movements_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_stock_movements_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `medicine_suppliers` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicine_stock_movements`
--

LOCK TABLES `medicine_stock_movements` WRITE;
/*!40000 ALTER TABLE `medicine_stock_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_stock_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicine_suppliers`
--

DROP TABLE IF EXISTS `medicine_suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicine_suppliers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_person` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` text COLLATE utf8mb4_unicode_ci,
  `lead_time_days` int NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_medicine_suppliers_name` (`name`),
  KEY `idx_medicine_suppliers_active_name` (`is_active`,`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicine_suppliers`
--

LOCK TABLES `medicine_suppliers` WRITE;
/*!40000 ALTER TABLE `medicine_suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine_suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicines`
--

DROP TABLE IF EXISTS `medicines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `med_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `generic_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `category` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `category_id` int DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `dosage_form` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `strength` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quantity_in_stock` int NOT NULL DEFAULT '0',
  `low_stock_threshold` int NOT NULL DEFAULT '10',
  `reorder_quantity` int NOT NULL DEFAULT '25',
  `pricing` decimal(10,2) NOT NULL DEFAULT '0.00',
  `unit_cost` decimal(10,2) NOT NULL DEFAULT '0.00',
  `manufacturer` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supplier_id` int DEFAULT NULL,
  `batch_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `last_restocked_at` datetime DEFAULT NULL,
  `image_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `selling_unit` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit_quantity` int NOT NULL DEFAULT '1',
  `added_by` int DEFAULT NULL,
  `pharmacy_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_medicines_name` (`name`),
  KEY `idx_medicines_category_id` (`category_id`),
  KEY `idx_medicines_supplier_id` (`supplier_id`),
  KEY `idx_medicines_pharmacy_id` (`pharmacy_id`),
  KEY `idx_medicines_pharmacy_stock` (`pharmacy_id`,`quantity_in_stock`),
  KEY `idx_medicines_pharmacy_expiry` (`pharmacy_id`,`expiry_date`),
  CONSTRAINT `fk_medicines_category` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medicines_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medicines_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `medicine_suppliers` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicines`
--

LOCK TABLES `medicines` WRITE;
/*!40000 ALTER TABLE `medicines` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `patient_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'APP',
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `pharmacy_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_notifications_patient_created` (`patient_nic`,`created_at`),
  KEY `idx_notifications_is_read` (`is_read`),
  KEY `idx_notifications_pharmacy` (`pharmacy_id`),
  CONSTRAINT `fk_notifications_patient` FOREIGN KEY (`patient_nic`) REFERENCES `patient` (`nic`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_notifications_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient`
--

DROP TABLE IF EXISTS `patient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patient` (
  `nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gender` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `emergency_contact` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `allergies` text COLLATE utf8mb4_unicode_ci,
  `chronic_issues` text COLLATE utf8mb4_unicode_ci,
  `guardian_nic` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`nic`),
  UNIQUE KEY `uq_patient_email` (`email`),
  KEY `idx_patient_guardian` (`guardian_nic`),
  CONSTRAINT `fk_patient_guardian` FOREIGN KEY (`guardian_nic`) REFERENCES `guardian` (`nic`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient`
--

LOCK TABLES `patient` WRITE;
/*!40000 ALTER TABLE `patient` DISABLE KEYS */;
INSERT INTO `patient` VALUES ('200312500353','vihanga','Male','0704444444','vihangaoshan@gmail.com','$2y$10$mSh3qgvsLwH/Mhxzmz9H6ePT4fBZ1AJw1qWP6VPywRamFbTQqAfaK','nothing','nothing',NULL,'2026-04-17 06:15:26');
/*!40000 ALTER TABLE `patient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_pharmacy_selection`
--

DROP TABLE IF EXISTS `patient_pharmacy_selection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patient_pharmacy_selection` (
  `id` int NOT NULL AUTO_INCREMENT,
  `patient_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pharmacy_id` int NOT NULL,
  `selected_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_patient_pharmacy_selection_patient` (`patient_nic`),
  KEY `idx_patient_pharmacy_selection_pharmacy` (`pharmacy_id`),
  CONSTRAINT `fk_patient_pharmacy_selection_patient` FOREIGN KEY (`patient_nic`) REFERENCES `patient` (`nic`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_pharmacy_selection_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_pharmacy_selection`
--

LOCK TABLES `patient_pharmacy_selection` WRITE;
/*!40000 ALTER TABLE `patient_pharmacy_selection` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_pharmacy_selection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacies`
--

DROP TABLE IF EXISTS `pharmacies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address_line1` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address_line2` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `district` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `postal_code` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latitude` decimal(10,8) NOT NULL,
  `longitude` decimal(11,8) NOT NULL,
  `phone` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_demo` tinyint(1) NOT NULL DEFAULT '0',
  `status` enum('active','inactive') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacies`
--

LOCK TABLES `pharmacies` WRITE;
/*!40000 ALTER TABLE `pharmacies` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacist`
--

DROP TABLE IF EXISTS `pharmacist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacist` (
  `id` int NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `license_no` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('ACTIVE','INACTIVE') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_pharmacist_email` (`email`),
  UNIQUE KEY `uq_pharmacist_license` (`license_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacist`
--

LOCK TABLES `pharmacist` WRITE;
/*!40000 ALTER TABLE `pharmacist` DISABLE KEYS */;
INSERT INTO `pharmacist` VALUES (1234,'Pharmacist','pharmacist@gmail.com',NULL,NULL,'$2y$10$TmuHgEIrKjiLZZUUUy5Vcu0/b70E4UU4MYGWovAeOsZlXRU9CI3oG','ACTIVE','2026-04-17 06:18:18');
/*!40000 ALTER TABLE `pharmacist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacist_dashboard_comments`
--

DROP TABLE IF EXISTS `pharmacist_dashboard_comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacist_dashboard_comments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pharmacist_id` int NOT NULL,
  `pharmacy_id` int DEFAULT NULL,
  `comment_text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_pdc_pharmacist` (`pharmacist_id`),
  KEY `fk_pdc_pharmacy` (`pharmacy_id`),
  CONSTRAINT `fk_pdc_pharmacist` FOREIGN KEY (`pharmacist_id`) REFERENCES `pharmacist` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pdc_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacist_dashboard_comments`
--

LOCK TABLES `pharmacist_dashboard_comments` WRITE;
/*!40000 ALTER TABLE `pharmacist_dashboard_comments` DISABLE KEYS */;
INSERT INTO `pharmacist_dashboard_comments` VALUES (1,1234,1,'hhhh','2026-04-19 08:29:29'),(2,1234,1,'ghj','2026-04-19 08:29:32'),(3,1234,1,'tttt','2026-04-19 08:29:41'),(4,1234,1,'tttt','2026-04-19 08:29:59'),(5,1234,1,'ukik','2026-04-19 08:30:01'),(6,1234,1,'ukik','2026-04-19 08:30:05'),(7,1234,1,'ukik','2026-04-19 08:58:16'),(8,1234,1,'ukik','2026-04-19 09:06:41'),(9,1234,1,'ukik','2026-04-19 09:06:42'),(10,1234,1,'ukik','2026-04-19 09:06:44'),(11,1234,1,'Array','2026-04-19 09:07:01'),(12,1234,1,'Array','2026-04-19 09:07:03');
/*!40000 ALTER TABLE `pharmacist_dashboard_comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacist_requests`
--

DROP TABLE IF EXISTS `pharmacist_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacist_requests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `license_no` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `requested_pharmacy_id` int NOT NULL,
  `status` enum('pending','approved','rejected') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `reviewed_by` int DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `note` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_pharmacist_requests_email` (`email`),
  UNIQUE KEY `uq_pharmacist_requests_license` (`license_no`),
  KEY `idx_pharmacist_requests_status` (`status`),
  KEY `idx_pharmacist_requests_pharmacy` (`requested_pharmacy_id`),
  KEY `fk_pharmacist_requests_admin` (`reviewed_by`),
  CONSTRAINT `fk_pharmacist_requests_admin` FOREIGN KEY (`reviewed_by`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_pharmacist_requests_pharmacy` FOREIGN KEY (`requested_pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacist_requests`
--

LOCK TABLES `pharmacist_requests` WRITE;
/*!40000 ALTER TABLE `pharmacist_requests` DISABLE KEYS */;
INSERT INTO `pharmacist_requests` VALUES (1,'Pharmacist','pharmacist@gmail.com','0704435388','1234','$2y$10$TmuHgEIrKjiLZZUUUy5Vcu0/b70E4UU4MYGWovAeOsZlXRU9CI3oG',1,'approved',1,'2026-04-17 11:48:18','Approved by admin','2026-04-17 06:16:31');
/*!40000 ALTER TABLE `pharmacist_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_order_items`
--

DROP TABLE IF EXISTS `pharmacy_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_order_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `order_id` int NOT NULL,
  `medicine_id` int DEFAULT NULL,
  `medicine_name` varchar(255) NOT NULL DEFAULT '',
  `quantity` int NOT NULL DEFAULT '1',
  `unit_price` decimal(10,2) NOT NULL DEFAULT '0.00',
  `line_total` decimal(10,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_order_items_order` (`order_id`),
  KEY `idx_order_items_medicine` (`medicine_id`),
  CONSTRAINT `fk_order_items_medicine` FOREIGN KEY (`medicine_id`) REFERENCES `medicines` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_order_items_order` FOREIGN KEY (`order_id`) REFERENCES `pharmacy_orders` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_order_items`
--

LOCK TABLES `pharmacy_order_items` WRITE;
/*!40000 ALTER TABLE `pharmacy_order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_orders`
--

DROP TABLE IF EXISTS `pharmacy_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_orders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pharmacy_id` int DEFAULT NULL,
  `patient_nic` varchar(20) NOT NULL,
  `prescription_id` int DEFAULT NULL,
  `source` varchar(30) NOT NULL DEFAULT 'PRESCRIPTION',
  `order_title` varchar(255) NOT NULL,
  `status` varchar(40) NOT NULL DEFAULT 'PENDING',
  `wants_schedule` tinyint(1) NOT NULL DEFAULT '0',
  `delivery_method` varchar(20) NOT NULL DEFAULT 'PICKUP',
  `billing_name` varchar(150) NOT NULL DEFAULT '',
  `billing_phone` varchar(50) NOT NULL DEFAULT '',
  `billing_email` varchar(150) NOT NULL DEFAULT '',
  `billing_address` varchar(255) NOT NULL DEFAULT '',
  `billing_city` varchar(120) NOT NULL DEFAULT '',
  `billing_notes` text,
  `subtotal` decimal(10,2) NOT NULL DEFAULT '0.00',
  `delivery_fee` decimal(10,2) NOT NULL DEFAULT '0.00',
  `total_amount` decimal(10,2) NOT NULL DEFAULT '0.00',
  `fulfillment_notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_pharmacy_orders_patient` (`patient_nic`,`created_at`),
  KEY `idx_pharmacy_orders_pharmacy` (`pharmacy_id`,`status`,`created_at`),
  KEY `idx_pharmacy_orders_prescription` (`prescription_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_orders`
--

LOCK TABLES `pharmacy_orders` WRITE;
/*!40000 ALTER TABLE `pharmacy_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_users`
--

DROP TABLE IF EXISTS `pharmacy_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pharmacy_id` int NOT NULL,
  `pharmacist_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `role` enum('pharmacist','pharmacy_admin') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pharmacist',
  `is_primary` tinyint(1) NOT NULL DEFAULT '1',
  `status` enum('active','inactive') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_pharmacy_users_pharmacy` (`pharmacy_id`),
  KEY `idx_pharmacy_users_pharmacist` (`pharmacist_id`),
  KEY `idx_pharmacy_users_user` (`user_id`),
  CONSTRAINT `fk_pharmacy_users_pharmacist` FOREIGN KEY (`pharmacist_id`) REFERENCES `pharmacist` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_pharmacy_users_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_users`
--

LOCK TABLES `pharmacy_users` WRITE;
/*!40000 ALTER TABLE `pharmacy_users` DISABLE KEYS */;
INSERT INTO `pharmacy_users` VALUES (1,1,1234,1234,'pharmacist',1,'active','2026-04-17 06:18:18');
/*!40000 ALTER TABLE `pharmacy_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prescriptions`
--

DROP TABLE IF EXISTS `prescriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prescriptions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `patient_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `upload_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('PENDING','APPROVED','REJECTED','SCHEDULED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `wants_medicine_order` tinyint(1) NOT NULL DEFAULT '0',
  `wants_schedule` tinyint(1) NOT NULL DEFAULT '1',
  `pharmacy_id` int DEFAULT NULL,
  `rejection_reason` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `idx_prescriptions_patient` (`patient_nic`),
  KEY `idx_prescriptions_pharmacy` (`pharmacy_id`),
  CONSTRAINT `fk_prescriptions_patient` FOREIGN KEY (`patient_nic`) REFERENCES `patient` (`nic`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_prescriptions_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prescriptions`
--

LOCK TABLES `prescriptions` WRITE;
/*!40000 ALTER TABLE `prescriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `prescriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reminders`
--

DROP TABLE IF EXISTS `reminders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reminders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `schedule_id` int NOT NULL,
  `patient_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reminder_type` enum('SMS','APP') COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `sent_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `delivered` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_reminders_schedule` (`schedule_id`),
  KEY `idx_reminders_patient` (`patient_nic`),
  KEY `idx_reminders_sent_at` (`sent_at`),
  CONSTRAINT `fk_reminders_patient` FOREIGN KEY (`patient_nic`) REFERENCES `patient` (`nic`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_reminders_schedule` FOREIGN KEY (`schedule_id`) REFERENCES `medication_schedule` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reminders`
--

LOCK TABLES `reminders` WRITE;
/*!40000 ALTER TABLE `reminders` DISABLE KEYS */;
/*!40000 ALTER TABLE `reminders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_master`
--

DROP TABLE IF EXISTS `schedule_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_master` (
  `id` int NOT NULL AUTO_INCREMENT,
  `prescription_id` int NOT NULL,
  `patient_nic` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pharmacist_id` int DEFAULT NULL,
  `pharmacy_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_schedule_master_prescription` (`prescription_id`),
  KEY `idx_schedule_master_patient` (`patient_nic`),
  KEY `idx_schedule_master_pharmacy` (`pharmacy_id`),
  KEY `fk_schedule_master_pharmacist` (`pharmacist_id`),
  CONSTRAINT `fk_schedule_master_patient` FOREIGN KEY (`patient_nic`) REFERENCES `patient` (`nic`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_schedule_master_pharmacist` FOREIGN KEY (`pharmacist_id`) REFERENCES `pharmacist` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_schedule_master_pharmacy` FOREIGN KEY (`pharmacy_id`) REFERENCES `pharmacies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_schedule_master_prescription` FOREIGN KEY (`prescription_id`) REFERENCES `prescriptions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_master`
--

LOCK TABLES `schedule_master` WRITE;
/*!40000 ALTER TABLE `schedule_master` DISABLE KEYS */;
INSERT INTO `schedule_master` VALUES (3,18,'200312500353',NULL,1,'2026-04-19 12:07:26','2026-04-19 12:07:26'),(4,20,'200312500353',NULL,1,'2026-04-19 12:15:25','2026-04-19 12:15:25');
/*!40000 ALTER TABLE `schedule_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `selling_units`
--

DROP TABLE IF EXISTS `selling_units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `selling_units` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_selling_units_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `selling_units`
--

LOCK TABLES `selling_units` WRITE;
/*!40000 ALTER TABLE `selling_units` DISABLE KEYS */;
INSERT INTO `selling_units` VALUES (1,'Item',1,'2026-04-17 06:07:07'),(2,'Strip',1,'2026-04-17 06:07:07'),(3,'Bottle',1,'2026-04-17 06:07:07'),(4,'Box',1,'2026-04-17 06:07:07'),(5,'Tube',1,'2026-04-17 06:07:07'),(6,'Vial',1,'2026-04-17 06:07:07'),(7,'Sachet',1,'2026-04-17 06:07:07'),(8,'Pack',1,'2026-04-17 06:07:07'),(11,'srthj',1,'2026-04-19 15:28:02');
/*!40000 ALTER TABLE `selling_units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `config_key` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `config_value` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_settings_config_key` (`config_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'medoradb'
--

--
-- Dumping routines for database 'medoradb'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-19 22:00:17
